<% include ./partials/header %> <!-- to include partials header -->
<!-- ______^partial header^______navbar location____________________________-->


<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="title">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="image">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]" rows="8" cols="40"></textarea>
        </div>

        <input class="ui pink basic big button" type="submit">
    </form>
</div>



<!-- _____________________________partial footer___________________________ -->
<% include ./partials/footer %> <!-- to include partials footer -->
