<% include ./partials/header %> <!-- to include partials header -->
<!-- ______^partial header^______navbar location____________________________-->


<div class="ui main container segment">
    <div class="ui huge header">
        <%= blog.title %>
    </div>
</div>



<!-- _____________________________partial footer___________________________ -->
<% include ./partials/footer %> <!-- to include partials footer -->
